__pycache__/
*.pyc
*.pyo
*.pyd
*.log
build/
dist/
Backup/
FlowerTrack - Shortcut.lnk
*.spec
.venv/
.env
TODO.md
build_helper.ps1
build_tmp/
release_notes_v0.14.md
tmp_export.html
dataset.txt
CHANGELOG.md
